<!DOCTYPE html>
<html lang="es">

{%- include "partials/head.njk" -%}

<body>

{%- include "partials/header.njk" -%}

<main id="main" class="container">
    <article>
        <img src="{{ image }}"
             alt="{{ title }}">

        {{ content | safe }}

        <hr>

        <section>
            <figure class="qr-container">
                <figcaption>
                    Este código QR contiene el enlace a esta misma página,
                    utilizado en el material impreso del cartel.
                </figcaption>
                <img src="{{ qr }}"
                     alt="Código QR del post {{ title }}"
                     width="250">
            </figure>

        </section>

    </article>
</main>

{%- include "partials/footer.njk" -%}

</body>
</html>
