<div class="brand-container">
    <a href="{{ '/' | url }}" class="secondary">
        <img src="{{ '/assets/images/logo-accesibilidad-color.svg' | url }}"
             class="brand-logo"
             alt="Logo de accesibilidad"
             width="60"
             height="60"
             loading="eager"
             decoding="async">
    </a>

    <p class="brand-text">
        Texto<br>
        alternativo
    </p>
</div>
