{%- macro renderTree(nodes) -%}
<ul>
  {%- for node in nodes %}
    <li>
      <details open>
        <summary>
          <span>
            {{ node.index.data.title or node.label }}
          </span>
          <span>{{ node.totalPosts }}</span>
        </summary>
        <div>
          {%- if node.posts.length -%}
            <ul>
              {%- for post in node.posts -%}
                <li >
                  <a href="{{ post.url | url }}" >{{ post.data.title }}</a>
                </li>
              {%- endfor -%}
            </ul>
          {%- endif -%}
          {%- if node.children.length -%}
            {{ renderTree(node.children) }}
          {%- endif -%}
        </div>
      </details>
    </li>
  {%- endfor %}
</ul>
{%- endmacro -%}
