<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">

    <title>{{ title }}</title>
    <link rel="stylesheet" href="/css/bootstrap.min.css">
    <link rel="stylesheet" href="/css/styles.css">
    <link rel="icon" href="/assets/icons/favicon.svg" type="image/x-icon">

    <script src="/js/bootstrap.bundle.min.js" defer></script>
</head>