<ul class="logo-brand">
    <li>
        <a href="{{ '/' | url }}" class="secondary">
            <img src="{{ '/assets/images/logo-accesibilidad-color.svg' | url }}"
                 class="header-logo"
                 alt="Logo de accesibilidad"
                 width="60"
                 height="60"
                 loading="eager"
                 decoding="async">
        </a>
    </li>
    <li>
        <strong>
            Texto<br>
            alternativo
        </strong>
    </li>
</ul>