<!--<nav class="container" aria-label="Navegación principal">-->
<!--    <ul>-->
<!--        <li><strong>Texto alternativo</strong></li>-->
<!--    </ul>-->

<!--    &lt;!&ndash; Desktop &ndash;&gt;-->
<!--    <ul class="desktop-menu">-->
<!--        <li><a href="{{ '/' | url }}">Inicio</a></li>-->
<!--        <li><a href="{{ '/catalogo/' | url }}">Catálogo</a></li>-->
<!--        <li><a href="{{ '/contacto/' | url }}">Contacto</a></li>-->
<!--    </ul>-->

<!--    &lt;!&ndash; Mobile &ndash;&gt;-->
<!--    <details class="mobile-menu">-->
<!--        <summary>☰</summary>-->
<!--        <ul>-->
<!--            <li><a href="{{ '/' | url }}">Inicio</a></li>-->
<!--            <li><a href="{{ '/catalogo/' | url }}">Catálogo</a></li>-->
<!--            <li><a href="{{ '/contacto/' | url }}">Contacto</a></li>-->
<!--        </ul>-->
<!--    </details>-->
<!--</nav>-->

<nav class="container">
    <ul>
        <li><strong>Mi sitio</strong></li>
    </ul>

    <details class="menu">
        <summary aria-label="Abrir menú">☰</summary>

        <ul>
            <li><a href="/">Inicio</a></li>
            <li><a href="/about">Acerca</a></li>
            <li><a href="/qr">Textos QR</a></li>
        </ul>
    </details>
</nav>